extends: default
rules:
  line-length:
    max: 100
    level: warning
  indentation:
    spaces: 2
    indent-sequences: consistent
  trailing-spaces:
    level: error
  document-start:
    present: true
